*{
    background-color: #04042c;
    padding: 0;
    margin: 0;
}

#myCanvas-profile{
    width: 200px;
    height: 200px;
    border: 1px solid white;
    margin-left: 10%;
    margin-top: 2%;
}

#myCanvas-name{
    width: 240px;
    height: 60px;
    margin-left: 360px;
    margin-top: 20px;
    border: 1px solid white;
}

#myCanvas-video{
    width: 440px;
    height: 240px;
    border: 1px solid white;
    margin-top: 100px;
    margin-left: 900px;
}

#video{
    margin-top: 50px;
    margin-left: 850px;
}
